<a href="https://colab.research.google.com/github/tomonari-masada/course2023-intro2ml/blob/main/03_Python_2_(in_class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python入門（２）

## ループ（for文を使う）

In [ ]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [ ]:
x = 10
for i in range(x):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3, 80, 23):
    print(i)

3
26
49
72

In [ ]:
# 1から100までの整数の和
s = 0
for i in range(1, 101):
    s += i
print(s)

5050

## アサーション

* 与えられた条件が成り立っていないとき、エラーを出す
* プログラムが期待通りの動きをしているかのチェックに使う

In [ ]:
x = int(input('非負の整数を入力してください: '))
assert x >= 0 #次スライドで説明
for a in range(x):
    if a**2 >= x:
        break
if a**2 == x:
    print(f'{a} is a square root of {x}.')

## シーケンスとしての文字列

In [ ]:
n = 0
for c in 'abracadabra':
    if c == 'a':
        n += 1
print(n)

* リスト

In [ ]:
n = 0
for c in ['this', 'is', 'that', 'is', 'there', 'is', 'it', 'is']:
    if c == 'is':
        n += 1
print(n)

4

## 関数定義の詳細

In [ ]:
def max_value(x, y):
    if x > y:
        return x
    else:
        return y

In [ ]:
print(max_value(8, 3))

8

In [ ]:
print(3 < 3)

False

In [ ]:
def printName(firstName, lastName, reverse):
    if reverse:
        print(lastName + ', ' + firstName)
    else:
        print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada', True)

Yamada, Taro

In [ ]:
printName('Taro', 'Yamada')

TypeError: ignored

* argument （引数）を書いてもよい。

In [ ]:
printName('Taro', 'Yamada', False)

Taro Yamada

### デフォルト値（既定値）

In [ ]:
def printName(firstName, lastName, reverse=False):
    if reverse:
        print(lastName + ', ' + firstName)
    else:
        print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada')

Taro Yamada

### スコープ

In [ ]:
def f(x):
    y = 1
    x = x + y
    print('x =', x)
    return x

In [ ]:
x, y = 3, 2
z = f(x)
print(f'x = {x}, y = {y}, z = {z}')

x = 4
x = 3, y = 2, z = 4

### ドキュメンテーション
* Pythonのコードのなかで、"""で囲まれた部分は、ドキュメンテーション文字列と呼ばれる
 * 例えば関数の仕様を説明するために用いる。
 * 組み込み関数helpでドキュメンテーション文字列にアクセスできる。

In [ ]:
def f(x):
    """xの値を表示する"""
    print(x)

help(f)

### 再帰呼出し

In [ ]:
def fact(n):
    if n == 1:
        return n
    else:
        return n * fact(n - 1)

In [ ]:
print(fact(8))

In [ ]:
def fib(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib(n - 1) + fib(n - 2)

In [ ]:
for i in range(11):
    print(fib(i), end=',')
print()

## 補足：print関数のend仮引数

In [ ]:
print('a', end='')
print('b', end=' ')
print('c', end='---')
print('d')
print('e')

## ファイルの読み書き

In [ ]:
print('aaa', 'bbb')

aaa bbb

In [ ]:
print('aaa\n', 'bbb\tccc')

aaa
 bbb	ccc

In [ ]:
f = open('text.txt', 'w') # 'w'はwrite
for i in range(5):
    line = input('Enter string: ')
    f.write(line + '\n')
f.close()

Enter string: apple
Enter string: apple
Enter string: apple
Enter string: banana
Enter string: orange

In [ ]:
print('aaa')
print('bbb')

aaa
bbb

In [ ]:
ff = open('text.txt', 'r') # 'r'はread
for line in ff:
    print(line)
ff.close()

apple

apple

apple

banana

orange

In [ ]:
f = open('text.txt', 'r')
for line in f:
    line = line.strip()
    print(line)
f.close()

apple
apple
apple
banana
orange

In [ ]:
f = open('example01.txt', 'r')
for line in f:
    line = line.strip()
    print(line)
f.close()

This is the decidedly low-rent campaign headquarters in Bang Bon for Move Forward, the most radical party contesting this month's general election in Thailand.

Pacing among them is the parliamentary candidate, Rukchanok "Ice" Srinork, a 28-year-old woman brimming with energy, who constantly flicks through her social media pages. Ice's team have bought cheap bicycles, and for weeks now they have been using them, in brutally hot weather, to reach out to residents in the smallest alleys of Bang Bon.

## Pythonの4つの構造型

* タプル
 * 文字列の一般化。不変な要素の列。
* range
 * タプルと同じく不変な要素の列。ただし整数の列。（Python 2にはなかった。）
* リスト
 * 可変なタプル
* 辞書
 * 連想配列（添え字が数字でない配列）

### タプル(tuple)

In [1]:
t1 = ()
t2 = ('one', 2, 'three', 4)
print(t1)
print(t2)

()
('one', 2, 'three', 4)

In [8]:
t3 = ("abdcdsw",)
print(t3)

('abdcdsw',)

In [9]:
t = tuple()
print(t)

()

In [10]:
t1 = ('one', 2, 'three', 4)
t2 = (0, t1, 'five')
print(t2)
print(t1 + t2)
print((t1 + t2)[2])
print((t1 + t2)[1:4])

(0, ('one', 2, 'three', 4), 'five')
('one', 2, 'three', 4, 0, ('one', 2, 'three', 4), 'five')
three
(2, 'three', 4)

In [11]:
t1 = (2, 4, 6, 8, 10, 12, 14, 16, 18)
t2 = (3, 6, 9, 12, 15, 18)
for e in t1:
    if e in t2: # 入っていればTrue
        print(e)

6
12
18

### 範囲(range)

In [ ]:
for i in range(21, 100, 7):
    print(i)
print()
for i in range(100, 21, -7):
    print(i)

### リスト(list)

In [ ]:
l1 = []
l2 = ['one', 2, 'three', 4]
print(l1)
print(l2)

In [14]:
l3 = [123]
print(l3)

[123]

In [15]:
l = list()
print(l)

[]

In [16]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
l2 = [3, 6, 9, 12, 15, 18]
for e in l1:
    if e in l2:
        print(e)

6
12
18

* 組み込み関数idを使うとオブジェクトの固有識別子が得られる

In [ ]:
v = ['onion', 'carrot']
f = ['apple', 'orange', 'banana']
l1 = [v, f]
l2 = [['onion', 'carrot'], ['apple', 'orange', 'banana']]
print(l1 == l2)
print(id(l1) == id(l2))

### リストのメソッド

In [17]:
l1 = [1,2,3]
l2 = [4,5,6]
l2.append(7)
print(l2)
l1.extend(l2)
print(l1)
l1.append(l2)
print(l1)

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, [4, 5, 6, 7]]

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
print(l.count(1))
print(l.count(3))
print(l.index(4))
print(l.index(10))

In [ ]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
l.sort()
print(l)
l.reverse()
print(l)

In [ ]:
l = [3, 6, 9, 12, 15, 18]
l.insert(3, 10)
print(l)
l.remove(10)
print(l)
l.pop(4)
print(l)

### リスト内包(list comprehension)
* 順序型のそれぞれの値に対し、特定の処理をおこない、その結果を要素として含むリストを作り出す方法

In [ ]:
l = [x**3 for x in range(2, 10, 3)]
print(l)
l = [x for x in range(-10, 10) if x%2 == 0]
print(l)
words1 = ['apple', 'ball', 'banana', 'orange']
words2 = [x for x in words1 if x.count('a') == 1]
print(words2)
words3 = [x for x in words1 for c in x if c == 'a']
print(words3) #出力がなぜそうなるか説明してみよう

In [20]:
numbers = {'one':1, 'two':2, 'four':3, 'seven':7}
print(numbers)
print(numbers['four'])
numbers['seven'] = 70 #値を上書き
print(numbers['seven'])
print(numbers)
numbers['six'] = 6 #新たに追加
print(numbers['six'])
print(numbers)
print('six' in numbers) #キーがあるかどうか調べる

{'one': 1, 'two': 2, 'four': 3, 'seven': 7}
3
70
{'one': 1, 'two': 2, 'four': 3, 'seven': 70}
6
{'one': 1, 'two': 2, 'four': 3, 'seven': 70, 'six': 6}
True

In [26]:
if 'six' in numbers:
  print("OK")

OK

In [28]:
a = 3
b = 3
if a == b:
  print("OK")

OK

## 順序型に対する操作のまとめ
* `seq[i]`は順序型のi番目の要素（ただし、最初の要素は0番目）
* `len(seq)`は順序型の長さ
* `seq1 + seq2`は二つの順序型を連結する（範囲型では使用不可）
* `n * seq`は`seq`を`n`回繰り返した順序型（範囲型では使用不可）
* `seq[start:end]`は順序型のスライス
* `e in seq`は`e`が順序型の要素である場合`True`、それ以外`False`
* `e not in seq`は`e`が順序型の要素でない場合`True`、それ以外`False`
* `for e in seq`は順序型の要素を反復して取り出す

## 辞書

In [31]:
d = dict()
print(d)

{}

In [32]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for k in numbers:
    print(k, numbers[k])

three 3
one 1
nine 9
four 4

### 辞書のitemsメソッド

In [33]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in numbers.items():
    print(item)

('three', 3)
('one', 1)
('nine', 9)
('four', 4)

### sorted組み込み関数

In [36]:
t = (4, -2, 3, 10, -8, 1)
print(sorted(t))
print(type(sorted(t)))
print(t)
sorted_t = tuple(sorted(t))
print(sorted_t)

[-8, -2, 1, 3, 4, 10]
<class 'list'>
(4, -2, 3, 10, -8, 1)
(-8, -2, 1, 3, 4, 10)

In [38]:
l = [1, -2, 8, 3, 23, 14]
print(sorted(l))
print(type(sorted(l)))
print(l)
sorted_l = sorted(l)
print(sorted_l)

[-2, 1, 3, 8, 14, 23]
<class 'list'>
[1, -2, 8, 3, 23, 14]
[-2, 1, 3, 8, 14, 23]

### 辞書の要素をキーでソートする

In [40]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
print(sorted(numbers))
for k in sorted(numbers):
  print(k, numbers[k])

['four', 'nine', 'one', 'three']
four 4
nine 9
one 1
three 3

In [41]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items()):
    print(item)

('four', 4)
('nine', 9)
('one', 1)
('three', 3)

### 辞書の要素を値でソートする

In [42]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items(), key=lambda x: x[1]):
    print(item)

('one', 1)
('three', 3)
('four', 4)
('nine', 9)

### getメソッド

In [45]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
print(numbers.get('zero', 100))

100

In [46]:
freq = dict() #空の辞書
l = ['a', 'b', 'a', 'a', 'c', 'b', 'c']
for e in l:
    freq[e] = freq.get(e, 0) + 1 #右辺がfreq[e] + 1だとエラー
print(freq)

{'a': 3, 'b': 2, 'c': 2}

In [47]:
freq = dict() #空の辞書
l = ['apple', 'blue', 'apple', 'ace', 'cup', 'blue', 'cup', 'cap', 'ace', 'blue']
for e in l:
    freq[e] = freq.get(e, 0) + 1 #右辺がfreq[e] + 1だとエラー
print(freq)

{'apple': 2, 'blue': 3, 'ace': 2, 'cup': 2, 'cap': 1}

In [48]:
freq = dict() #空の辞書
l = ['apple', 'blue', 'apple', 'ace', 'cup', 'blue', 'cup', 'cap', 'ace', 'blue']
for e in l:
  if e in freq:
    freq[e] += 1
  else:
    freq[e] = 1
print(freq)

{'apple': 2, 'blue': 3, 'ace': 2, 'cup': 2, 'cap': 1}

## 補足：予約語lambda

In [ ]:
def applyFunc(x, func):
    return func(x)

print(applyFunc(3, lambda x: x**2))

## 補足：高階関数map

In [ ]:
ans = map(abs, range(-10, 11, 2))
for e in ans:
    print(e, end=' ')
print()

In [ ]:
for e in map(lambda x: x//2, range(-10, 11, 2)):
    print(e, end=' ')
print()

## 補足：文字列のsplitメソッド

In [49]:
text = 'This is a pen.'
print(text.split())

['This', 'is', 'a', 'pen.']

In [50]:
text = 'Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.'
word_seq = text.split()
for word in word_seq:
    print(word)

Donald
Trump
has
his
sights
set
on
Amazon.
He
is
reportedly
“obsessed”
with
the
internet
commerce
giant,
and
as
is
his
wont,
spent
Thursday
morning
tweeting
about
it.
And
it’s
not
because
he
loves
online
shopping.

## クラスの定義

In [ ]:
class Greeter(object):

    def __init__(self, name):
        self.name = name

    def greet(self, loud=False):
        if loud:
            print(f'HELLO, {self.name.upper()}!')
        else:
            print(f'Hello, {self.name}')

### インスタンスの作成

In [ ]:
g = Greeter('Fred')

### メソッドの呼出し

In [ ]:
g.greet()
g.greet(loud=True)

## 課題４
* 適当な英文ニュース記事から本文だけをコピー・アンド・ペーストし、テキストファイルnews.txtを作っておく
* このテキストファイルnews.txtをopenし、読み込み、以下の処理をするコードをPythonで書く
 * 記事にどの単語が何回出現するかを、単語の出現回数の降順でソートして表示する。

In [52]:
f = open('news.txt')
for line in f:
  print(line.split())
f.close()

['In', 'a', 'tweet,', 'he', 'said', 'he', 'would', 'meet', 'his', '"friend"', 'Mr', 'Sunak', 'to', 'hold', '"substantive', 'negotiations".']
[]
['The', 'UK', 'announced', 'on', 'Thursday', 'that', 'it', 'would', 'supply', 'Ukraine', 'with', 'the', 'long-range', 'missiles', 'it', 'had', 'requested', 'to', 'fight', 'the', 'Russian', 'invasion.']
[]
['Mr', 'Zelensky', 'has', 'been', 'meeting', 'Western', 'leaders', 'in', 'recent', 'days', 'seeking', 'to', 'bolster', 'support', 'for', 'Ukraine.']
[]
['At', 'the', 'meeting,', 'Mr', 'Sunak', 'said', 'the', 'pair', 'would', 'be', '"discussing', 'what', 'more', 'we', 'can', 'do', 'to', 'support"', 'Mr', 'Zelensky', 'and', 'Ukraine.']
[]
['The', 'Ukrainian', 'leader', 'is', 'the', 'first', 'foreign', 'dignitary', 'to', 'meet', 'Mr', 'Sunak', 'at', 'Chequers,', 'the', 'prime', "minister's", 'official', 'country', 'residence.']